<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel="icon" href="{{logoUrl}}" />
    <script defer="true" type="application/javascript" src="{{script}}"></script>
</head>

<body style='margin: 0'>
    <div id='app'>{{{appContent}}}</div>
    <script type="text/json" id="app-properties" data-encoding="base64">{{{encodedAppProperties}}}</script>
</body>

</html>